:root{
    --cor1:#B2967D;
    --cor2:#E6BEAE;
    --cor3:#E7D8C9;
    --cor4:#C84630;
    --cor5:#ECF8F8;
    --cor6:#2c1616;
}

header{
    background-color: var(--cor1);
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem;
}
#nav_logo{
    font-size: 25px;
    color: var(--cor4);
}

#nav_list {
    list-style: none;
    display: flex;
    gap: 49px;
}


.nav-item a {
    text-decoration: none;
    font-size: 19px;
    font-weight: bolder;
    color: var(--cor6);
}

/*
parte mobile que nao funcionou
#hamburger {
    display: none;
    background: transparent;
    font-size: 1.6rem;
    color: var(--cor4);
    border: none;
    cursor: pointer;
}

@media (max-width: 750px) {
    #nav_list {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: ;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        gap: 0;
        pointer-events: none;
    }
    #nav_list.active {
        clip-path: circle(1500px at 90% -15);
        pointer-events: all;
    }
    #hamburger {
        display: block;
    }
}
    */
    